
body {
    background-image: url(img/paven.png);
}






header a {
    color: #71B053;
}


.content #aside2 a{
    color: #62A523;
}


.widgets button {
    background-color: #62A523;
    box-shadow: 0px 2px 2px #62A523;
}

.widgets button:hover {
    background-color: rgb(42, 244, 42);
}

.widgets a {

    text-decoration: none;
    color: #589650;
}




#login2 h2 {
    color: blue;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

#login3 h2 {
    color: #A32F1E;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.content_cajas {
    padding-top: 50px;
    

}

.cajas {
    margin-left: 75px;
    padding-left: 30px;
    padding-right: 30px;
    display: flow-root;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.cajas h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    text-align: center;
    font-family: customFont;
    text-shadow: 0px 0px 1px black;
    letter-spacing: 5px;
    border-bottom: #333333 dashed;
}

.content_cajas #caja1,#caja2,#caja3{
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 2px 2px black;
    margin-bottom: 40px;
    padding-bottom: 30px;
}

.cajas ul li{
    color: #528B1B;

}

.cajas ul li p{
    color: black;
    margin-bottom: 15px;
    margin-top: 5px;
}

.cajas ul li p span{
    color: #71B053;
}
.cajas ul li:first-child{
    margin-top: 20px;
}

.imgscotch1,.imgscotch2{
    position: absolute;
    margin-top: -15px;
    z-index: 0;
}

.imgscotch2{
    margin-left: 800px;
}


footer{
    width: 100%;
    height: 30px;
    background-color: #333333;
    text-align: center;
    color: white;
    padding: 10px;

}